@model Entities.Concrete.Heading
@{
    ViewBag.Title = "NewHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<h2>Yeni Başlık Ekleme</h2>
<br />
@using (Html.BeginForm("NewHeading", "WriterPanel", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Başlık")
        @Html.TextBoxFor(h => h.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(h => h.HeadingName, null, new { @class = "text-danger" })
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(c => c.CategoryId, (List<SelectListItem>)ViewBag.categoryValue, new { @class = "form-control" })
        @Html.ValidationMessageFor(h => h.CategoryId, null, new { @class = "text-danger" })
        <br />
        <button class="btn btn-info">Başlık Oluştur</button>
    </div>
}





